@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
:root {
  --theme-color: rgb(254, 178, 15);
  --secondary-color: #e87c1e;
  --third-color: #ff2721;
  --primary-font-color: rgb(29, 29, 29);
  --primary-theme: rgb(241, 196, 15, 0.8);
  --primary-theme-second: rgb(46, 134, 222, 0.8);
  --secondary-black: #2c3e50;
  --font-color: black;
}

::selection {
  background: var(--theme-color);
  color: black;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;

  font-family: Poppins;
}
a {
  color: white;
  text-decoration: none;
}

.container-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin: 0 auto;
  font-size: 2rem;
  background-color: #ccc;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 12px 15px 15px rgba(0, 0, 0, 0.1);
}
.container:hover {
  background-color: #aaa;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}
label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}
.star {
  color: gold;
}
.username {
  font-style: 14px;
}
.date {
  font-style: 10px;
}

form {
  width: 250p;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input,
textarea {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: gray;
}
.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}
